#NavBar {
    display: flex;
    align-items: flex-start;
    font-family: Montserrat-Light, sans-serif;
    font-size: 1.5rem;
    justify-content: space-between;
    max-height: 134px;
    min-height: 60px;
    height: 12.4vh;
    margin: 0;
    box-shadow: 0 -28px 99px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;

}

#HamMenu {
    display: none;
}

#NavAlfaleusLogo {
    padding: 2.1vh 0 2.1vh 6.875vw;
    width: 7.2vw;
    height: auto;
    min-width: 80px;
    align-self: center;
    cursor: pointer;
}

#NavMenu {
    margin: 0;
    /* flex: 1; */
    width: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0 6.7vw 0 0;
    color: #494949
}

#NavMenu li {
    list-style: none;
    padding-left: 1.67vw;
}

#NavMenu a {
    text-decoration: none;
    color: #494949;
    background-color: white;

}

.BorderBG {
    padding-bottom: 0.4vh;
    display: flex;
    align-items: flex-start;
}

.ContactUs {
    font-family: Montserrat-SemiBold, sans-serif;
    padding-right: 0px;
}

.BorderBG:hover {
    background: #73B6D3;
    background: -webkit-linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
    background: linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);

}

.ActiveNavMenu {
    background: #73B6D3;
    background: -webkit-linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
    background: linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: calc(9px + 11 *((100vw - 350px)/418));
    }

    #NavBar {
        height: fit-content;
        flex-direction: column;
        width: 100%;
    }

    #NavAlfaleusLogo {
        align-self: start;
    }

    #HamMenu {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
    }

    #NavMenu {
        flex-direction: column;
        justify-content: end;
        padding: 0;
        align-items: flex-start;
        align-self: start;
        padding: 2.1vh 0 2.1vh 6.875vw;
        background-color: #FFFFFF;
        width: 93.125vw;
        display: none;
    }

    .OpenMenu {
        display: block !important;
    }

    .BorderBG:hover {
        background: #FFFFFF;
    }

    .ActiveNavMenu {
        background: #FFFFFF;
    }
}