.NavLanding {
    display: flex;
    align-items: flex-start;
    font-family: Montserrat-Light, sans-serif;
    font-size: 1.5rem;
    justify-content: space-between;
    max-height: 153px;
}

.AlfaleusLogo {
    padding: 4.4vh 0 1.85vh 6.8vw;
    width: 7.2vw;
    height: auto;
    min-width: 80px;
}

.Menu {
    margin: 0;
    flex: 1;
    width: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0 6.7vw 0 0;
    color: #494949
}

.Menu li {
    list-style: none;
    padding-left: 1.66vw;
}

.Menu a {
    text-decoration: none;
    color: #494949;
    background-color: white;
}

/* .BorderBGLanding {
    padding-bottom: 0.4vh;
    display: flex;
    align-items: flex-start;
    background: #73B6D3;
    background: -webkit-linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
    background: linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);   
} */

.ContactUs {
    font-family: Montserrat-SemiBold, sans-serif;
    padding-right: 0px;
}

.LandingContent {
    display: flex;
    /* width: 86.35vw; */
    height: 71.11vh;
    padding: 4.54vh 6.82vw 0 6.82vw;
    justify-content: space-between;
    max-height: 768px;
}

.Headings {
    flex-direction: column;
}

.LandHeading {
    font-size: 4.5rem;
    /*From XD : 4.875rem */
    width: 40vw;
    line-height: 5.5rem;
    /*From XD : 5.875rem*/
    padding-top: 14vh;
}

.LandHeading1 {
    font-family: LeagueSpartan, sans-serif;

}

.LandHeading2,
.AniWord {
    font-family: Montserrat-Regular, sans-serif;

}

.LandSubHeading {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.8rem;
    /*From XD : 2rem */
    width: 30vw;
    /*From XD : 38.5vw*/
    line-height: 2.438rem;
    text-align: justify;
    padding-top: 4.4vh;
}

.KnowMoreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Medium;
    font-size: 1.375rem;
    background: #73B6D3;
    background: -webkit-linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
    background: linear-gradient(to left, #73B6D3, #CBE0E9, #F3F3F3);
    width: 10.3vw;
    height: 3.1vw;
    border-radius: 1.9rem;
    margin-top: 9.4vh;
}

.KnowMoreButton a{
    text-decoration: none;
    color: #494949;
    cursor: pointer;    
}

div.KnowMoreButton:hover{
    background: #CBE0E9;    
    background: -webkit-linear-gradient(to left, #CBE0E9, #F3F3F3);
    background: linear-gradient(to left,  #CBE0E9, #F3F3F3);
}

.DeviceShowcase {
    display: grid;
    grid-template-columns: 27.8vw;
    align-items: center;
    width: 27.8vw;
    height: 71.1vh;
    background: #F3F3F3;
    background: -webkit-linear-gradient(to bottom, #F3F3F3, #73B6D3);
    background: linear-gradient(to bottom, #F3F3F3, #73B6D3);
}

.DeviceShowcase img {

    justify-self: center;
    width: 35.5vw;
    height: auto;
    position: relative;
    top: 8.5vh;
    /* left: -3.86vw; */
}

.ShowcaseText {
    width: fit-content;
    align-self: end;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 2.813rem;
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 0.73vw;
}

.CFAOutline {
    
    opacity: 0.035;
    -webkit-opacity: 0.035;
    z-index: 99;
    width: 50.7vw;
    position: relative;
    top: -26vw;
    left: -15vw;
    z-index: -2;
}

.ScrollInd {
    width: 1.875vw;
    min-width: 20px;
    height: auto;
    display: block;
    margin: 0 auto 0;
    display: none;
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: calc(9px + 11 *((100vw - 350px)/418));
    }

    #LandingPage{
        height: 130vh;
    }

    .NavLanding {
        display: none;
    }

    .LandingContent {
        flex-direction: column;
        align-items: center;
    }

    .Headings {
        align-items: center;
    }

    .LandHeading {
        width: 75vw;
        text-align: center;
    }

    .AniWord {
        display: block;
        min-height: 5.5rem;
    }

    .LandSubHeading {
        width: 75vw;
        text-align: center;
    }

    .ScrollInd,
    .CFAOutline {
        display: none;
    }

    .KnowMoreButton {
        width: 40vw;
        padding: 3vw;
        text-align: center;
        align-self: center;
        justify-self: center;
        margin: 10vw auto;
        margin-bottom: 15vw;
    }

    .KnowMoreButton span {
        width: 40vw;      

    }

    .DeviceShowcase img {
        width: 70vw;
        align-self: start;
        justify-self: center;
        top:5vw;
    }

    .ShowcaseText {
        grid-row: 1/2;
        justify-self: center;
    }

    .DeviceShowcase {
        height: 70vw;
        width: 50vw;
        justify-content: center;
    }
}